node_modules/
temporary screenshots/
.DS_Store
Latest_Desktop.svg
Samples_page_draft.png
brand_assets/Content/headshots/Camilla.png
brand_assets/Content/headshots/Emily.png
brand_assets/Content/headshots/James.png
brand_assets/Content/headshots/Klaus.png
brand_assets/Content/headshots/Redwan.png
brand_assets/Content/headshots/Rosalie.png
brand_assets/Content/headshots/Tabish.png
